.app__specialMenu {
  flex-direction: column;
}

.app__specialMenu-title {
  margin-bottom: 2rem;
  text-align: center;
}

.app__specialMenu-menu {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.app__specialMenu-menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: var(--color-white);
  text-align: center;
}

.app__specialMenu_item {
  width: 370px;
  align-items: center;
  background: rgb(22, 39, 45);
  padding: 2rem;
  border-radius: 4px;
}

.app_specialMenu_menu_items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .app__specialMenu_item {
    width: 450px !important;
  }
}
@media screen and (max-width: 991px) {
  .app__specialMenu_item {
    width: 100% !important;
  }
}
@media screen and (max-width: 650px) {
  .app__specialMenu-menu_heading {
    font-size: 35px;
    line-height: 48.5px;
  }
}
